# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# Test cache
.pytest_cache/

# Results (duże pliki)
results/*.json
results/*.csv

*.png
*.pdf
*.csv

# OS
.DS_Store
Thumbs.db

# LaTeX aux
docs/*.aux
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.fdb_latexmk
docs/*.fls

# results
results/*
